@{
    Layout = "_Layout";
}

<div class="jumbotron text-center">
    <h1>Cities and Countries</h1>
</div>
<div class="container text-center">
    <h3><a href="/cities">Click here for CITIES info</a></h3>
    <h3><a href="/countries">Click here for COUNTRIES info</a></h3>
</div>
